# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS credentials / private keys
*.pem
*.key

# OS files
Thumbs.db
.DS_Store